{
    frankenphp
}

:{$PORT:80} {
    root * /app/public
    encode zstd gzip
    
    # Handle PHP files with FrankenPHP
    php_server
    
    # Fallback to index.php for all other requests
    header {
        # Enable HTTP Strict Transport Security (HSTS)
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}
